body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #000428, #004e92);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#menu, #levels, #game {
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  font-size: 40px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #ffcc00;
  color: black;
  font-weight: bold;
}

button:hover {
  background: #ff9900;
  transform: scale(1.1);
}

.game-board {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 70px;
  height: 70px;
  background: #111;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 60px;
}